[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
heroku = "*"
django-heroku = "*"
psycopg2-binary = "*"
psycopg2 = "*"
gunicorn = "*"
Pillow = "*"
stravalib = "*"
django-tailwind = "*"

[dev-packages]

[requires]
python_version = "3.8"
