{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'styleaboutme.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sora:wght@300;500&display=swap"
      rel="stylesheet"
    />
  </head>
  <title>About me</title>
  <div class="header">
    <a class="button_aboutme" href="{% url 'home' %}"
      ><button type="button">Back</button></a
    >
    <p class="title">About me</p>
  </div>
  <div class="top">
    <p class="opening">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a lacus
      nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
      per inceptos himenaeos. Nulla convallis ultrices porta. Nunc non erat quis
      urna molestie rhoncus. Maecenas et ligula ac ligula tempor sollicitudin ac
      tristique libero. Sed sodales fringilla erat. Aenean eleifend sem vitae
      arcu tincidunt, in rhoncus magna eleifend. Sed porttitor id justo vel
      ultrices. Sed vel dignissim eros.
    </p>
  </div>
  <div class="foreground">


    <h1>Education</h1>

    {% for edu in education %}
    <dl>
      <dt>{{edu.school_name}}</dt>
      <dd>
        {{edu.description}}
      </dd>
    </dl>
    {% endfor %}


    <h1>Experiences</h1>
    {%for exp in experience%}
    <dl>
      <dt>{{exp.exp_name}}</dt>
      <dd>
        {{exp.description}}
      </dd>
    </dl>
    {% endfor %}

    <h1>Current Interests</h1>
    {%for interest in currentinterest%}
    <dl>
      <dt>{{interest.interest_name}}</dt>
      <dd>
       {{interest.description}}
      </dd>
    </dl>
    {% endfor %}
  </div>
</html>
