{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'styleaboutme.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sora:wght@300;500&display=swap"
      rel="stylesheet"
    />
  </head>
  <title>About me</title>
  <div class="header">
    <a class="button_aboutme" href="{% url 'home' %}"
      ><button type="button">Back</button></a
    >
    <p class="title">About me</p>
  </div>
  <div class="top">
    <p class="opening">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a lacus
      nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
      per inceptos himenaeos. Nulla convallis ultrices porta. Nunc non erat quis
      urna molestie rhoncus. Maecenas et ligula ac ligula tempor sollicitudin ac
      tristique libero. Sed sodales fringilla erat. Aenean eleifend sem vitae
      arcu tincidunt, in rhoncus magna eleifend. Sed porttitor id justo vel
      ultrices. Sed vel dignissim eros.
    </p>
  </div>
  <div class="foreground">
    <h1>Education</h1>
    <dl>
      <dt>Institut Teknologi Bandung</dt>
      <dd>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a lacus
        nulla. Class aptent taciti sociosqu ad litora torquent
      </dd>
      <dt>SMA Negeri 48 Jakarta</dt>
      <dd>
        Aenean tincidunt, dui sed rutrum feugiat, quam lacus venenatis nunc,
        eget vestibulum arcu mi in magna. Sed dictum
      </dd>
    </dl>
    <h1>Experiences</h1>
    <dl>
      <dt>Aksantara 2020</dt>
      <dd>
        Aenean tincidunt, dui sed rutrum feugiat, quam lacus venenatis nunc,
        eget vestibulum arcu mi in magna. Sed dictum
      </dd>
      <dt>Aksantara 2019</dt>
      <dd>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a lacus
        nulla. Class aptent taciti sociosqu ad litora torquent
      </dd>
    </dl>
    <h1>Current Interests</h1>
    <dl>
      <dt>Web Development</dt>
      <dd>
        Fusce suscipit convallis lorem, in scelerisque diam vehicula in. Sed
        consectetur ornare dignissim. Quisque a erat id lorem sodales varius
        mattis eget dui. Curabitur sollicitudin turpis non metus porttitor c
      </dd>
      <dt>UAV Control</dt>
      <dd>
        tiam at finibus nibh. Nulla vulputate ipsum placerat libero imperdiet
        tempus id quis magna. Mauris dictum risus libero, sed hendrerit metus
        dignissim non. Cras in sapien auctor, tincidunt nibh sit am
      </dd>
    </dl>
  </div>
</html>
