{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styleaboutme.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sora:wght@300;500&display=swap"
      rel="stylesheet"
    />
  </head>
  <title>About me</title>
  <div class="header">
    <a class="button_aboutme" href="{% url 'home' %}"
      ><button type="button">Back</button></a
    >
    <p class="title">About me</p>
  </div>
  <div class="top">
    <p class="opening">---under construction---</p>
  </div>
  <div class="foreground">
    <h1>Education</h1>

    {% for edu in education %}
    <dl>
      <div class="obj_title_and_date">
        <dt class="obj_title">{{edu.school_name}}</dt>
        <div class="obj_date">
          {{edu.startdate|date:"F Y"}} - {{edu.enddate|date:"F Y"}}
        </div>
      </div>
      <dd class="obj_description">{{edu.description}}</dd>
    </dl>
    {% endfor %} {% for exp in experience %}
    <h1>Projects and Work Experiences</h1>
    <dl>
      <div class="obj_title_and_date">
        <dt class="obj_title">{{exp.school_name}}</dt>
        <div class="obj_date">
          {{exp.startdate|date:"F Y"}} - {{exp.enddate|date:"F Y"}}
        </div>
      </div>
      <dd class="obj_description">{{exp.description}}</dd>
    </dl>
    {% endfor %}

    <h1>Current Interests</h1>
    {%for interest in currentinterest%}
    <dl>
      <dt>{{interest.interest_name}}</dt>
      <dd>{{interest.description}}</dd>
    </dl>
    {% endfor %}
  </div>
</html>
