{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sora:wght@300;500&display=swap"
      rel="stylesheet"
    />
    {%block head%} {%endblock%}
    <title>Sayid Achmad M's Personal Website</title>
  </head>

  <body>
    <div class="opening">
      <div class="opening_content">
        <img src="{% static '7980.jpg'%}" class="img-profile" />
        <div class="opening_text">
          <h1 class="name">Sayid Achmad Munthahar</h1>
          <p class="opening_paragraph">
            A BSc aerospace engineering graduate from Bandung Institute of
            Technology. Currently spending his time as a research assistant in
            his faculty and studying a lot of things including programming, data
            science and ML, web development, etc. He likes to study a lot of
            things, really. He consider himself as a man with T-shaped expertise
            :) (eventhough he doesn't know what skill does the vertical bar
            corresponds to)
          </p>
        </div>
      </div>
      <div class="moreaboutme_button">
        <a href="{% url 'about' %}"
          ><button type="button">More about me</button></a
        >
      </div>
    </div>

    <div class="stories" \>
      <a href="{% url 'stories_firstpage' %}"> <h2>Stories</h2></a>
      <div class="post_holder">
        {% include "template_stories.html" with show_button=False %}
      </div>
    </div>

    <div class="footer">
      <h2>empty footer</h2>
    </div>
  </body>
</html>
