{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    {%block head%} {%endblock%}
    <title>Landing Page</title>
  </head>

  <body>
    <div class="Header">
      <img src="{% static 'DSC_6580.JPG'%}" class="img-hero" />
    </div>

    <div class="summary">
      <div class="summary_content">
        <img src="{% static '7980.jpg'%}" class="img-profile" />
        <div>
          <h1>Sayid Achmad Munthahar</h1>
          <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum."
          </p>
        </div>
      </div>
      <a href="{% url 'about' %}"
        ><button type="button">More about me</button></a
      >
    </div>

    <div class="stories" \>
      <h2>Stories</h2>
      <div class="post_holder">{% block content %} {%endblock%}</div>
    </div>
  </body>
</html>
