.page_title {
  color: #388087;
  font-size: 30px;
  text-align: center;
  font-family: "Sora", sans-serif;
  right: 2%;
  flex-grow: 1;
}

.buttonn {
  flex-grow: 0.2;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.posttitle {
  color: #e85a4f;
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 1px;
  font-weight: 600;
}

.postdate {
  color: #8e8d8a;
  text-align: center;
  font-size: 0.8rem;
  padding-bottom: 7px;
}

.posttext {
  padding-top: 3%;
  text-align: left;
  font-weight: 300;
  word-spacing: 150%;
  font-family: "Taviraj", serif;
  font-size: 1.1rem;
}

.post {
  position: relative;
  padding: 15px;
}
body.post_holder {
  background-color: #3b3b3b;
}
.stories {
  border-radius: 15px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  background-color: white;
  padding: 3%;
}

summary {
  font-family: "Trirong", serif;
  list-style: none;
  cursor: pointer;
}

.postsummary {
  font-style: italic;
  font-weight: 300;
  font-size: 0.9rem;
  text-align: center;
}

h2.stories_text {
  color: #388087;
  font-size: 30px;
  margin-bottom: 3px;
  text-align: center;
}
