* {
  font: 1rem "Fira Sans", sans-serif;
}
.img-hero {
  background-position: center;
  background-size: cover;
  object-fit: cover;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 400px;
  width: 70%;
}
.img-profile {
  float: left;
  object-fit: fill;
  position: relative;
  display: block;
  height: 150px;
  width: 150;
  margin: 20px;
}

.summary {
  font-family: "Times New Roman", Times, serif;
  box-sizing: border-box;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  position: relative;
  top: 20px;
}
p {
  font-size: 20px;
  text-align: left;
  left: 20px;
}
h1 {
  color: #e98074;
  font-size: 40px;
}

h2 {
  color: #e98074;
  font-size: 30px;
}

button {
  background-color: #eae7dc;
  color: #61605f;
  border: thin solid;
  position: relative;
  left: 80%;
}
body {
  height: 100%;
}

.stories {
  position: relative;
  top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 70%;
  overflow: scroll;
}

.summary_content{
  display:flex;
  align-items: center;
}