.posttitle{
color: #E85A4F;
font-size: 18px;
text-align: center;
padding-bottom: 1px;
}

.postdate{
    color: #8E8D8A;
    text-align: center;
    font-size: 15px;
    padding-bottom: 7px;
}

.posttext{
    margin-top: 20px;
    text-align: left;
}

.post{
    position:relative;
    padding:15px;
}

.stories{

    width:70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.stories_header{
    font-size: 40px;
    font-weight: bold;
    color: #E85A4F;
    text-align: center;
    margin-top:30px;
}

*{
    font-family: 'Sora', sans-serif;
}

summary{
    list-style: none;
    cursor:pointer;

}

.postsummary{
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
}

