.posttitle{
color: #E85A4F;
font-size: 18px;
text-align: center;
padding-bottom: 1px;
}

.postdate{
    color: #8E8D8A;
    text-align: center;
    font-size: 15px;
    padding-bottom: 7px;
}

.posttext{
    margin-top: 20px;
    text-align: left;
}

.post{
    position:relative;
    padding:15px;
}

.stories{

    width:80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}


*{
    font-family: 'Sora', sans-serif;
}

summary{
    list-style: none;
    cursor:pointer;

}

.postsummary{
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
}

h2.stories_text {
    color: #388087;
    font-size: 30px;
    margin-bottom: 3px;
text-align: center;
  }